*{
	outline: 1 px solid red !important;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.title{
  font-family : Helvetica;
}

.description{
 
  max-width: 706px;
  margin-left:322px
 }

.image{
	max-width: 460px;
}