.title{
  font-family : Helvetica;
  color: #eee;
  text-align : left;
  background-color: #33BEBE;
  border-radius: 2px;
  padding-left:10px;
  padding-top: 3px; 
  padding-bottom: 3px;
  box-shadow: 
  
  
}

.description{
  color : #787878 ;
  font-family : Helvetica;
  text-align : justify;
  background-color : #f0f0f0;
  border-style : none;
  border-width: 30px -moz-calc;
  padding: 20px;
  margin: 1px auto;
  max-width: 705px;
  
  

}

.screenshot{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 460px;
}